/* general layout */
body {
  background-color: grey;
}

.container {
  position: flex;
  width: 350px;
  background-color: white;
  margin: 10% auto;
  border-radius: 5px;
}

/* button layout */
.btn {
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #b8b8b8;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: 0 solid;
}

.btn:hover {
  background: #838383;
  text-decoration: none;
}

.temp-btn {
  margin: 8% 0 0 30px;
}

/* footer layout */
.made {
  margin-top: -10px;
  text-align: center;
  position: relative;
  color: #fff;
}

#mari, #mari:hover {
  text-decoration: none;
  color: #323232;
}

.fa-heart {
  color: pink;
}

/* image layout */

img {
  width: 35%;
  margin: 10px 0 0 105px;
}

#temperature {
  margin-top: 5px;
}

#temperature, #location {
  text-align: center;
}